:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainView {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  /*background-color: #0a1a3b;*/
  background-color: #00aeff;
  flex-grow: 1;
  min-height: 500px;
  height: 100%;
  display: flex;
}
