:host {
  height: 44px;
  display: flex;
  flex-direction: row;
  background-color: #0e141f;
  border-bottom: 1px solid rgba(133, 136, 142, 0.28);
  border-top: 1px solid rgba(133, 136, 142, 0.28);
}

.navbarItem {
  display: flex;
  width: 200px;
  border-bottom: 3px solid transparent;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;

}

.navbarItem:hover {
  border-bottom: 3px solid #00aeff;
  cursor: pointer;
  background-color: rgba(80, 98, 114, 0.3);
}

.navbarItem:hover > .rightSide .navbarText {
  color: #fff;
}

.navbarIcon {
  width: 15px;
  padding: 0px 5px 0px 5px;
  color: #00aeff;
}

.rightSide {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.navbarText {
  padding: 0px 20px 0px 20px;
  flex-grow: 1;
  color: #85888e;
}

.navbarButton {
  padding: 0px 5px 0px 0px;
  color: #ff890a;

}
