body {
  height: 100%;
  width: 100%;
  /*display: flex;*/
  margin: 0px;
  /*overflow: hidden;*/
  /*font-family: "Arial Black";*/
}
html{
  height: 100%;
  display: flex;
}
input, select {
  outline: none;
}
